body {
  @media (max-width: 767px) and (orientation: portrait) {
    /* Ваши стили для телефонов в портретной ориентации */
    background: rgba(200, 0, 255, 0.8);
  }

  @media (max-width: 900px) and (orientation: landscape) {
    /* Ваши стили для телефонов в альбомной (перевернутой) ориентации */
    background: #535bf2;
  }
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
  font-family: "Comic Sans", "Comic Neue", sans-serif;
}

.navbar {
  display: flex;
  gap: 10px;
}

.animated {
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 30px;
  animation: change-color 3s linear infinite;
  margin: auto;

}

@keyframes change-color {

  0% {
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  }

  50% {
    background: linear-gradient(217deg, rgba(200, 0, 255, 0.8), rgb(20, 183, 6) 70.71%)
  }

  100% {
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  }
}
